body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #000;
	color: #5c5c5c;
	padding: 20px;
	border-radius: 5px;
}
header .logo {
	font-weight: bold;
}
.container {
	max-width: 990px;
}

.widget {

	margin-bottom: 20px;
}
.sugestaoitem,
.requisicaoitem {
	height: 40px;
	line-height: 40px;
}
.post_area {
	border-bottom: 1px solid  #CCC;
}
.post_area textarea {
	height: 100px;
}
.post_area input[type=submit] {
	margin-top: 10px;
	margin-bottom: 10px;
}
.feeditem {
	border-bottom: 1px solid #CCC;
	padding-top: 10px;
	padding-bottom: 10px;
}
.feeditem_texto {
	background-color: #EEE;
	padding: 10px;
	margin-bottom: 10px;
}
